
// Make viewport responsive
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { /* stylelint-disable-line  at-rule-no-vendor-prefix */
    //width: device-width;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;

  @include media-breakpoint-down(lg) {
    background: red;
  }
}

.no-scroll {
  overflow-y: hidden;
}

a {
  text-decoration: none;


  &:hover,
  &:focus {

  }
}

[tabindex='-1']:focus {
  outline: none !important;
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

img {
  max-width: 100%;
  height: auto;
}
